{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<br>
Amount={{ id.current_balance }}
<br>
{{ id.user_id.username }}
<br>
{{ id.account_type_id.Name }}
<br>
<button>
<a href="{% url 'moneytransfer' %}">Transfer Anount</a>
</button>
<br>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}
