<html>
    <head>
        <title>home page</title>
        <link rel="stylesheet" href="home.css">
    <body>
        <div class="container">
            <div class="form">
                <div id="mysidenav" class="sidenav">
                    <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;DASHBOARD</a>
                </div>
            <form class="a">
            <p><b>ACCOUNT NUMBER:</b></p>
            <input type="text" id="ACCOUNT-num" class="input" placeholder="ACCOUNT NUMBER" required>
            <p><b>ACC-name:</b></p>
            <input type="text" class="input" placeholder="ACCOUNT HOLDER NAME" required>
            <p><b id="char">ACCOUNT-TYPE:</b></p>
            <input type="text" class="input" value=" " readonly>
            </form>

            </div>
        </div>
    </body>
    </head>
</html>