
{% load static %}
<html>
    <head>
        <title>home page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="form">
                <div id="mysidenav" class="sidenav">
                    <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;DASHBOARD</a>
                </div>
            <form class="a">
            <p><b>ACCOUNT NUMBER:</b></p>
                <h1>{{ data.profile_id.id }}</h1>
            <p><b>ACC-name:</b></p>
                <h1>{{ data.profile_id.username }}</h1>
            <p><b id="char">ACCOUNT-TYPE:</b></p>
            <h1>{{ data.acc_id.acc_name }}</h1>
            <p><b id="char">CURRENT BALANCE:</b></p>
            <h1>{{ data.curr_bal }}</h1>
            </form>

            </div>
        </div>
    </body>
    
</html>