<html>
    <head>
        <title>money page</title>
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="container">
            <div class="form">
               
            <form class="a">
            <p><b>ACCOUNT NUMBER:</b></p>
            <input type="text" id="ACCOUNT-num" class="input" placeholder="ACCOUNT NUMBER" required>
            <p><b>ACCOUNT-NAME:</b></p>
            <input type="text" class="input" placeholder="ACCOUNT HOLDER NAME" required>
            <p><b>AMOUNT</b></p>
            <input type="text" class="input" placeholder="AMOUNT" required>
            <button type="submit" class="btn" name="transfer" >TRANSFER</button>
            </form>

            </div>
        </div>
    </body>
</html>